

body {
  max-width: 100%;
  margin: 0 auto;
  background-image: url("mainimg/seattle1.png");
  background-repeat: repeat;
  background-size: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1{
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  margin:5px 5px 5px 5px;
  color: #336699;
  font-style: italic;
  font-family: Papyrus,fantasy;
  text-shadow: 8px 8px 12px #000000;
}
#formstruct{
  margin-top: 25px;
  margin-right: 40px;
}
button{
  height: 22px;
  width: 145px;
  margin-bottom: 20px;
}
button:hover{
    background-color: red;
}
#user1{
  margin-left: 53px;
  border-style: solid;
  background-color: #6495ED;
  border-radius: 10px;
  border-color: #6495ED;
  }
  #noButton{
    list-style: none;
  }
.mediumLogo {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-left: 20px;
}
.midArea{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h2{
  text-align: left;
}
.navItem {
  display: inline-block;
  padding: 2em;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  max-width: 100%;
  min-height: 25em;
}
#subm{
  margin-left: auto;
  margin-right: auto;
}
#lad img {
  height: 50vh;
  width: 17%;
  right: 0;
  position: fixed;
  background-color: white;
  opacity: .50;
}
#lad img:hover{
  opacity: 1.0;
}

#rad img{
  height: 50vh;
  width: 17%;
  position: fixed;
  background-color: white;
  opacity: .50;
}
#rad img:hover{
  opacity: 1.0;
}

#rbu{
  float: right;
}
article {
  font-size: 30px;
  font-family: monospace;
}
.userToggle{
  font-size: 20px;
  font-weight: bold;
}
.allComments {
  height: 200px;
  overflow: auto;
}
#menu{
  width: 17%;
  background-color: white;
  height: 100%;
  z-index: 12;
  text-align: center;
}
.menuHyp {
  height: 20px;
  width: 20px;
}
