

body {
  max-width: 100%;
  margin: 0 auto;
  background-image: url("mainimg/seattle1.png");
  background-repeat: repeat;
  background-size: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1{
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  margin:5px 5px 5px 5px;
  color: #336699;
  font-style: italic;
  font-family: Papyrus,fantasy;
}
#userToggle{
  margin-bottom: .1px;
}
form{
  margin-top: 40px;
  margin-right: 40px;
}

button{
  height: 22px;
  width: 145px;
}
button:hover{
    background-color: red;
}
.mediumLogo {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-left: 20px;
}

h2{
  text-align: center;
}

.navItem {
  display: inline-block;
  padding: 2em;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  max-width: 100%;
  min-height: 25em;
}

#lad img {
  height: 50vh;
  width: 17%;
  right: 0;
  position: fixed;
  background-color: white;
  opacity: .50;
}
#lad img:hover{
  opacity: 1.0;
}
#rad img{
  height: 50vh;
  width: 17%;
  position: fixed;
  background-color: white;
  opacity: .50;
}
#rad img:hover{
  opacity: 1.0;
}
#rbu{
  float: right;
}

article {
  font-size: 30px;
  font-family: monospace;
}

p{
  font-size: 20px;
  font-weight: bold;
}

.allComments {
  height: 200px;
  overflow: auto;
}
#menu{
  direction: rtl;
}
.menuHyp {
  height: 20px;
  width: 20px;
}
